.common-custom-alert-banner{
    margin-left: 75px;
    margin-top: 3px;
    position: absolute !important;
    width: 93%;
    z-index: 101;
}

.common-custom-loader-main {
   
}
.custom-common-pagination-table{
    height:450px;
    text-align:center;
    overflow:auto;
}

.common-custom-pagination-button{
    margin-left: 2%;
}


.commmon-content-loader-main{
    position:absolute;
    width: 100%;
    height:100%;
    z-index:500;
    pointer-events:none;
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 0.2);
    display:block;
}

.common-disable-all{
    pointer-events: none;
    cursor: not-allowed;
}